.pic{
    height: 700px;
    /* padding-right: 40px; */
    margin-top: 20px;

}
.div{
    display: flex;
    margin-left: 250px;
    /* margin-right: 00px; */
    margin-bottom: 50px;
    margin-top: 50px;
    width: 2000px
}

.text{
    padding: 80px;
    margin-top: 8%;
    /* padding-left: 40px; */
}

.eye{
    font-size:70px;
}

.welcome{
    color:rgb(40, 40, 133);
    font-family: Georgia, serif;
    font-size: 25px;
}

.para{
    font-size: 17px;
}