.productpic{
    height: 300px;

}

.name{
    text-decoration: none;    
    color: black;
}

.price{
    text-decoration: none;
    color: black;
}

.products{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;    
    margin-bottom: 70px;
    /* width: fit-content; */
}

.one{
    padding-left: 20px;
    padding-right: 20px;

}

.photo{
    height: 290px;
}